.App {
  background-color: hotpink;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 48px;
  margin-bottom: 20px;

}